.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4em;
  pointer-events: none;
} 

.App-header{
  flex-direction: column; 
  align-items: center;
  justify-content: center;

  margin-bottom: 2em;
}

.App-title{
  font-family: Coiny, cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
