.Board{
  display: inline-flex;
  flex-direction: column;
}

.Board-clickable{
  border: 3px dashed transparent;
}

.Board-clickable:hover{
  border: 3px dashed #F39C12;
  cursor: pointer;
}

.Board-answer{
  margin-bottom: 5px;
}

.Board-game{
  border: 5px groove grey;
}

.Board-row > div{
  display: flex;
  min-width: 50px;
  min-height: 50px;
  align-items: center;
  justify-content: center; 
  font-weight: bold; 
}

.Board-answer-row > div{
  border: thin solid #00047A;
}

.Board-game-row > div{
  border: thin solid grey;
  border-radius: 15%;
}

.white-square{
  color: #00047A;
  border: thin solid #00047A;
}

.blank-square{
  background: repeating-linear-gradient(-45deg, white, white 5px, #00047A 5px, #00047A 10px);
}

.red-square{
  background-color: #8E0D00;
  color: #DDDDDD;
}

.beige-square{
  background-color: #FFFF9D;
  color: #222222;
}
