.game-board{ 
  display: inline-flex;
  flex-direction: column;
  border: 5px groove grey;
} 

.row > div{
  display: flex;
  min-width: 50px;
  min-height: 50px;
  border: thin solid grey;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
}

.red-square{
  background-color: #8E0D00;
  color: #DDDDDD;
}

.beige-square{
  background-color: #FFFF9D;
  color: #222222;
}

.game-state{
  font-weight: bold;
  color: green;
} 
