.Game{
  background: white;
  padding-bottom: 2em;
}

.Board{
  display: inline-flex;
  flex-direction: column;
}

.divider{
  border: thin solid #00047A;
  display: inline-block;
  width: 100px; 
} 

.move-counter{
  font-size: 20px; 
} 

.game-state{
  font-weight: bold;
  color: green;
} 
